body {
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tasks-area-title {
    text-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.card *:focus {
    outline: none;
}

.card [contenteditable="true"] {
    background-color: #f2f2f2;
    transition: background-color .3s;
}

.card [contenteditable="true"]:focus {
    background-color: #d9d9d9;
}

/** Ignorar el click en lon iconos **/
a .fa {
    pointer-events: none;
}